<div class="header-component">

    <header class="header-6">
        <div class="branding">
            <a>
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Project VMhub</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                    {{ username }}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a (click)=logout() clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <app-spinner *ngIf="spinnerService.isVisible$ | async"></app-spinner>
    <router-outlet></router-outlet>
</div>
