$module: 'repository-details';

.#{$module} {
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    .card {
        margin-bottom: 1.2rem;
    }

    &__actions {
        margin-top: 1.2rem;
        display: flex;
        align-items: center;

        p {
            text-transform: uppercase;
            text-shadow: 0.05rem 0.05rem;
            margin: 0;
        }

        button {
            margin-left: 0.5rem;
        }
    }
}
