$module: 'repository-details';

.#{$module} {
    margin-left: 1.2rem;

    &__actions {
        margin-top: 1.2rem;
        display: flex;
        align-items: center;

        p {
            margin: 0;
        }

        button {
            margin-left: 0.5rem;
        }
    }
}
